# Виртуальное окружение Python
venv/
.venv/
env/
ENV/

# Секретные файлы конфигурации (Пароли, ключи)
.env

# Локальные базы данных (если остались от тестов SQLite)
*.db
*.sqlite3

# Кэш компиляции Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Настройки редакторов кода
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Логи сервера
*.log
logs/
